body {
    font-family: sans-serif !important;
    overflow: scroll;
    height: 883px;
}

.container {
    text-align: center;
    margin-top: 20px;
    width: max-content;
}

table {
    font-size: 14px;
    text-align: center;
}

thead {
    background: rgb(19, 19, 19);
    color: white;

}

th {
    text-align: center !important;
}

.tr-total {
    color: black;
}

.nombre {
    text-align: left !important;
    width: max-content;
    padding-right: 658px;
}

.devuelta {
    text-align: left;
    width: max-content;
}
.entrega{
    text-align: left;
    width: max-content;
}

.footer {
    padding-top: 10%;
}

header {
    display: flex;
    font-family: sans-serif !important;     

}

.gps{
    margin-top: 30px;
    text-align: left;
    width: 155px;
    height: 50px;
    margin-right: 205px;
}

.logowit{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    height: 70px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.gracias{
    margin-top: 40px;
}

.fecha{
    text-align: end;
    margin-top: 35px;
    margin-left: 80%;
    font-size: medium;
    width: max-content;
}
.widget {
	width: max-content;
}

.widget p {
	display: inline-block;
	line-height: 1em;
}

